[2021-11-19 13:31] dg46 opened #4 "Passing domain knowledge"
I am planning to get rid of Java dependencies in [cause2e](https://github.com/MLResearchAtOSRAM/cause2e) by replacing py-causal with causal-learn for the discovery step.

However, my applications require **passing domain knowledge in the form of required or forbidden edges in the causal graph**. Py-causal and Tetrad have a great interface for domain knowledge. Will this be included in causal-learn

[2021-11-19 14:23] dg46 commented on #4
Oops, found it for PC. Must have overlooked it, sorry. I will try this out, but it would still be helpful to have the functionality for other algorithm types.

[2021-11-19 16:37] kunwuz commented on #4
Thanks for your feedback. Cause2e is a fantastic package! :)

In the future, we will include 'background_knowledge' for other methods. We will update you when these functions are available. Thanks for your interest in causal-learn!

[2021-11-22 08:12] dg46 commented on #4
Thanks a lot for the quick reply, sounds great!

[2021-12-08 04:49] limjcst opened #5 "Please provide developing guidelines for outside contributors"
When I tried to pass unittests in `tests/`, I got confused about how maintainers collect so many test cases.
Finally, I executed `python -m unittest discover -p "Test*.py"` under `tests/`, which I hope is the correct usage.

The tests first failed due to the lack of `pygam` (required by `CAMUV`) and `torch` (required by `PNL`), as I executed `python setup.py install` to install the requirements.
I

[2021-12-08 05:08] kunwuz commented on #5
First, thanks for your interest and very constructive suggestions!

Regarding the extra packages required for CAMUV and PNL, yes, we are working on getting rid of those dependencies. We will update it and let you know ASAP when those dependencies could be removed.

The 'causal-learn' is still under active development, so any suggestion is very welcome and will be appreciated a lot. For example, we

[2021-12-08 05:28] limjcst commented on #5
Thanks for your fast response!

In term of the user experience, I find that [type hints](https://docs.python.org/3/library/typing.html) is useful, especially when the documentation is not clear.

[2021-12-08 05:30] kunwuz commented on #5
Thanks for sharing!~ It is indeed useful.

[2021-12-16 05:36] kunwuz commented on #4
Hi @dg46, just a quick update :) We've re-implemented FCI. Now it includes the background_knowledge. Also, the speed of FCI has been improved a lot.

[2021-12-17 10:56] dg46 commented on #4
Thank you for the update, I will give it a try!

[2022-02-15 13:52] gherardovarando opened #12 "granger2d should work for more than 2d data"
Problem: `granger_test_2d` will throw an error if applied to data with more than 2 variables (`d > 2`).

I think that probably without the check below, the `granger_test_2d` method in the `Granger` class will work over data with more than 2 variables.

https://github.com/cmu-phil/causal-learn/blob/6f297e743c462b4a2f8191250ea9ac03c288abf0/causallearn/search/Granger/Granger.py#L43

If this behavior

[2022-02-15 23:43] kunwuz commented on #12
Hi, thanks for the feedback. It is possible to do it in a pair-wise manner, but the false positive rate will be relatively high. So perhaps it is not recommended.

[2022-02-26 07:50] gherardovarando commented on #12
sure, it makes sense. Then I suggest to change doc into something like:
[code]

[2022-02-26 07:51] #12 closed

[2022-02-26 08:07] kunwuz commented on #12
Thanks! I've updated the doc according to your suggestion.

[2022-03-15 05:44] kunwuz commented on #5
Hi, just a quick update on your previous suggestions. Regarding type-hint, @JarodYv has been making contributions on it :) Thanks, Jarod!

[2022-03-30 07:07] MAX00008888 opened #22 "How to transfer general graph into matirx"

[2022-03-30 07:09] MAX00008888 commented on #22
@kunwuz 请问一下怎么把产生的general graph 转换成 matrix的形式

[2022-03-30 07:41] kunwuz commented on #22
Hi, you could try to use G.graph (G is a general graph) to output a matrix (https://github.com/cmu-phil/causal-learn/blob/ed86eb7bac8973caaf758ed4bb2e6f5ec7f37850/causallearn/graph/GeneralGraph.py#L38). And the explanation of endpoints could be found here: https://github.com/cmu-phil/causal-learn/blob/main/causallearn/graph/Endpoint.py)

[2022-03-30 07:44] MAX00008888 commented on #22
Thank you soooo much!!!!!! @kunwuz

[2022-03-30 07:48] kunwuz commented on #22
You are welcome!

[2022-03-30 07:48] #22 closed

[2022-04-02 13:43] MAX00008888 opened #23 "How to use BIC score"
Hi, sorry to bother you@kunwuz ,

I'm having some problems using the bic score. It always get a big number  like -6951.8887543026485
` rewards = local_score_BIC(data,0,[0])`

The data is created by myself. I don't know the eaxt meaning of i and Pai.

[2022-04-02 14:05] MAX00008888 commented on #23
Can I get a score in the range of 0~1

[2022-04-02 16:31] jdramsey commented on #23
BIC scores are not in that range of course, but what is you goal?

[2022-04-03 02:58] MAX00008888 commented on #23
I want to do causal RL. So I tkae the BIC score as the rewards. @jdramsey

[2022-04-03 03:35] jdramsey commented on #23
Hmmm... I don't think BIC makes for a good loss function...first of all it's not guaranteed even to be strictly non-negative. What other loss functions have you considered?

[2022-04-03 03:37] jdramsey commented on #23
Is this a model loss function or a node loss function? Or a parameter loss function?

[2022-04-03 03:43] MAX00008888 commented on #23
It’s a model loss function. Critic loss and actor loss

[2022-04-03 03:46] MAX00008888 commented on #23
So normally we get a large number when using bic score?

[2022-04-03 04:25] jdramsey commented on #23
I think the problem is, you don't get something interpretable as a loss. BIC as a function (see the Scwharz or a later famous paper I forget by whom now though I could look it up for you), the only thing you know for sure about BIC is that it is optimized (in different directions and with different formulas depending on the software, adjusted by a multiplicative term) for a model in the true Marko

[2022-04-03 05:36] jdramsey commented on #23
I should add that it hardly ever is true that BIC score for a given dataset are all positive or all negative, yet the optimum score property still holds. Treating BIC as a loss function runs the risk of counting very positive and very negative scores as equally bad, which they are not. In fact, if the score is "high is better" very positive BIC scores will be very good, and zero BIC scores will be

[2022-04-03 06:13] MAX00008888 commented on #23
Thank you sooooo much for your reply!!! It's very useful.

Best,
Max

[2022-04-03 06:38] jdramsey commented on #23
You're welcome!

[2022-04-03 06:54] MAX00008888 commented on #23
It occurs to me that can I use the BIC score to evaluate a graph and get the score?

[2022-04-03 07:27] jdramsey commented on #23
Yes, that's a perfectly reasonable thing to do.

On Sun, Apr 3, 2022 at 2:55 AM MAX00008888 ***@***.***> wrote:

[2022-04-03 07:28] MAX00008888 commented on #23
How can I do this in your library. All I can see is using data to get BIC score.

[2022-04-03 07:59] jdramsey commented on #23
Hmmm... that's what I thought you meant. What score do you mean?

[2022-04-03 08:00] jdramsey commented on #23
By the way, I mainly work on a different project--same department. Hopefully someone working on this project can help you as well. Also, I may fall asleep soon.

[2022-04-03 08:02] MAX00008888 commented on #23
Thank you so much for your time. I will do more research later.

[2022-04-03 08:05] kunwuz commented on #23
Thanks for your detailed reply and help, Joe :) @MAX00008888 , BIC score is used for model selection, which is basically for graphical models in our case. It might be more helpful if you could kindly provide more specific information related to your questions.

[2022-04-03 08:08] MAX00008888 commented on #23
Ok, Thank you so much for your reply. I wonder how can I get BIC score according to a graph. Lije this way.

![image](https://user-images.githubusercontent.com/101794848/161418438-7365bd7f-9cf1-4a7d-8c38-339d1c0e071c.png)

[2022-04-03 08:11] MAX00008888 commented on #23
In the last part, I want to get a BIC score according to `output_graph `
` from cdt.data import AcyclicGraphGenerator
        generator = AcyclicGraphGenerator('linear', npoints=100, nodes=8)
        data,graph = generator.generate()
        matrix = nx.adjacency_matrix(graph).todense()

        # 真实图赋值给 action
        action = torch.Tensor(matrix).to(device)

        # 推测图
        model = GES()

[2022-04-03 08:22] kunwuz commented on #23
I see, thanks for your information. If I understand correctly, you could refer to https://github.com/cmu-phil/causal-learn/blob/ed86eb7bac8973caaf758ed4bb2e6f5ec7f37850/causallearn/utils/GESUtils.py#L58 for obtaining 'global' BIC for a 'graph'.

[2022-04-03 08:25] MAX00008888 commented on #23
Yes, that's what I want. I will try this later. Thank you so much! @kunwuz @jdramsey

[2022-04-03 08:38] MAX00008888 commented on #23
Is G a general graph or DiGraph?

[2022-04-03 08:40] kunwuz commented on #23
A GeneralGraph, and its usage could be found here https://github.com/cmu-phil/causal-learn/blob/ed86eb7bac8973caaf758ed4bb2e6f5ec7f37850/causallearn/search/ScoreBased/GES.py#L98

[2022-04-03 08:42] MAX00008888 commented on #23
How Can I transfer Digraph into general graph?

[2022-04-03 08:52] kunwuz commented on #23
If I remember correctly, Digraph is a subclass of the general graph. Perhaps related files about graph classes (e.g., dag.py) could be helpful.

[2022-04-03 09:00] MAX00008888 commented on #23
Thanks a lot!!! Now I'm running this, but get a bug.
`Traceback (most recent call last):
  File "D:/pythonProject4/CRL.py", line 80, in <module>
    'action_diff': continuous_action_diff_scorer
  File "C:\Users\56549\miniconda3\envs\d3rlpy\lib\site-packages\d3rlpy\base.py", line 423, in fit
    callback,
  File "C:\Users\56549\miniconda3\envs\d3rlpy\lib\site-packages\d3rlpy\base.py", line 628, in

[2022-04-03 16:32] kunwuz commented on #23
Hi, I'm not sure about that. Could you please provide a reproducible case?

[2022-04-03 19:33] kunwuz commented on #23
Since the major questions regarding the current topic have been answered, I will temporarily close this issue for a more convenient reference for others. Please feel free to reopen it or create another one if there are any further questions.

[2022-04-03 19:33] #23 closed

[2022-04-03 19:36] #5 closed

[2022-04-18 06:02] Howardhuang98 opened #24 "Add cache for local score function for efficiency."
Local score is calculated repeatly during search.

Make the function `def local_score_BDeu(Data: ndarray, i: int, PAi: List[int], parameters=None) -> float:` cachable.  Strongly recommend to use functools.lru_cache, that is a efficient python built-in decorator. But it requires all parameters are hashable, currently they are not, e.g. ndarray.

A commonly solution is to create a Score class to sto

[2022-04-18 06:06] kunwuz commented on #24
Thanks so much for your suggestion! We will look into it and try to find out a way to improve the efficiency accordingly.

[2022-05-06 13:05] williamty opened #28 "Is there an implementation of Degenerate Gaussian?"
In the ReadMe.md, it says causal-learn is a Python translation and extension of Tetrad. So, is there an implementation of Degenerate Gaussian(DG) algorithm, which is published in a paper named "Learning High-dimensional Directed Acyclic Graphs with Mixed Data-types"? As in Tetrad program, it will always use CG or DG algorithm to manipulate mixed data first. Thank you for reply.

[2022-05-07 18:02] rflperry opened #29 "fisherz test occasionally (but rarely) errors out"
I am unsure why, but occasionally the fisherz test experiences the following error. I have not had this problem with the KCI test on the same data. I do not know if this is a bug or if it is a problem with the data. If a problem with the data, it would be more useful to be informed why.

    r = -inv[0, 1] / sqrt(inv[0, 0] * inv[1, 1])
ValueError: math domain error

[2022-05-07 18:06] kunwuz commented on #29
Thanks for letting us know. We will look into this. Meanwhile, if possible, could you please share a minimal code and sample dataset that could reproduce that issue?

[2022-05-08 11:52] williamty commented on #28
Thank you for your reply!

[2022-05-08 11:52] #28 closed

[2022-05-12 14:43] chenweiDelight commented on #24
@Howardhuang98  Thank you for your suggestion! We have added cache for the local score function. Please feel free to let us know if there are any other issues.

[2022-05-13 00:23] kunwuz commented on #24
Thanks so much, @chenweiDelight ! Please feel free to reopen it if you have any further suggestions :)

[2022-05-13 00:23] #24 closed

[2022-05-14 18:09] jdramsey opened #30 "Typo."
"Constrained-based" in the README should be "Constraint-based".

[2022-05-15 03:29] kunwuz commented on #30
Oh, thanks so much! Just fixed it :)

[2022-05-15 03:29] #30 closed

[2022-06-03 08:47] sailinz opened #31 "Mixed data example"
May I know if there are any examples of causal-learn usage on mixed data (categorical and continuous/ordinal)? This is supported in tetrad. Many thanks!

[2022-06-04 01:20] jdramsey commented on #31
Hi @sailinz-- as you probably know we have two methods in Java Tetrad for the mixed discrete/Gaussian case:

(1) Conditional Gaussian

(2) Degenerate Gaussian

Here are the papers for them, respectively:

Andrews, B., Ramsey, J., & Cooper, G. F. (2018). Scoring Bayesian networks of mixed variables. International journal of data science and analytics, 6(1), 3-18.

Andrews, B., Ramsey, J., & Cooper,

[2022-06-08 08:38] Yuchen0606 opened #32 "score_g function"
I am not sure if the function "score_g" in causallearn.utils.GESUtils is designed to calculate the score of a causal graph given a specific dataset. But when I used it, I found when parameter "PA" is not empty list, it comes to an error "IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices".
I think the reason of the prob

[2022-06-14 04:43] chenweiDelight commented on #32
Thank you very much for pointing out this issue. We have fixed this bug.
Please feel free to let us know if there is any other problem.

[2022-06-14 05:55] #32 closed

[2022-06-24 09:56] AndrewC19 opened #38 "How to handle named variables"
Hi,

I have been working with the causal-learn package for a couple of weeks now and I was wondering if there is a plan to add support for named variables?

As I understand it, at the moment data is generally assumed to take the form of a 2d np.array where each column contains a value for a particular variable `X1, X2, ..., XN`. I can quite easily take a csv file and convert it to this format but,

[2022-06-24 10:08] kunwuz commented on #38
Hi Andrew, thanks for your interest, and we are very grateful for your question. Just a quick confirmation, regarding the `to_pyplot` method you mentioned, did you mean `GraphUtils.to_pydot(cg.G, labels=[“A”, “B”, “C”])`?

[2022-06-24 10:09] AndrewC19 commented on #38
Hi, yes that's what I mean.

[2022-06-24 10:11] kunwuz commented on #38
Thanks for the clarification! we will get back to you with potential solutions quickly :)

[2022-06-24 10:12] AndrewC19 commented on #38
Great, thanks. Let me know if any further information would be helpful.

[2022-06-24 15:50] AndrewC19 commented on #38
Hi again, I have encountered another similar issue that may influence your solution.

If my csv of data contains columns of different type (say three continuous variables for age, height, and weight, and categorical variables for gender and blood group), loading them into a numpy array forces you to encode them as the same type. This means that if my categorical variables are encoded as ints they

[2022-06-24 17:00] jdramsey opened #39 "Unresolved GIT confict"
I just checked out CL from the repository and noticed there is an unresolved conflict in

https://github.com/cmu-phil/causal-learn/blob/main/tests/TestANM.py

Here:

<<<<<<< HEAD
    test.test_anm_simul()
    test.test_anm_pair()
=======
    test.test_anm_pair()

[2022-06-24 17:15] kunwuz commented on #39
Fixed. Thanks for catching this!

[2022-06-24 17:15] #39 closed

[2022-06-25 09:47] kunwuz commented on #38
Hi Andrew, thanks for raising this. Regarding mixed type variables, we are currently integrating two solutions, i.e., conditional Gaussian and degenerate Gaussian. Please kindly refer to this [issue](https://github.com/cmu-phil/causal-learn/issues/31) for more information.

Since all of our methods are based on NumPy.array as input, is it possible to differentiate continuous/categorical variables

[2022-06-25 10:07] AndrewC19 commented on #38
Hi again, thanks for the response.

With respect to preserving labels, your proposed solution is effectively what I am currently using i.e. pass a list of the column titles to the drawing function. This works fine in most cases, but if you don't use all of the data in your csv/dataframe or the order of your csv/dataframe changes, it becomes challenging to keep track of which variable is which. I h

[2022-06-27 12:32] AndrewC19 opened #41 "Can't add a new node to GeneralGraph after deleting edges"
If I attempt to add a new node to a `GeneralGraph` using `add_node` after calling the method `remove_nodes`, I get the following error:

[code]
The more detailed error message:

[code]

Minimal example to reproduce:
[code]

It appears that `self.dpath` is not being updated correctly upon calling `remove_nodes`. If you compare its dimensions to `self.graph` you can see that it has not deleted the p

[2022-06-27 13:52] tofuwen commented on #41
Hi Andrew,

Thanks so much for your input! We really appreciate it.

Currently we are working on "code quality improvement project", and we will fix this issue during the project. (We already included this issue in our tracking doc, and assigned to the owner).

Currently our main focus is to "adding more tests to the causal-learn" project, as without reliable and automatic tests, it's hard to ensu

[2022-06-27 14:12] AndrewC19 commented on #41
Hi,

No problems, and thanks for the quick response!

I'm not sure what you mean by reconstructing the graph from data. For my use case, I want to first create a graph by learning its structure from data (using the `pc` algorithm). Then, I want to merge a series of binary indicator nodes into a  a single categorical variable. To achieve this, I do the following:

1. For each categorical variable,

[2022-06-28 03:31] tofuwen commented on #41
Hi Andrew,

Thanks for the clear explanation! Yeah, it seems in your use case, you need the remove_node() to behave functionally.

1. Regarding your first comment, I am wondering why you want to perform PC on the graph generated in this way. How about directly perform PC on graph with categorical variables, instead of the binary indicators? The problem of your current construction is that it viola

[2022-06-28 07:03] tofuwen commented on #38
Hi Andrew,

Will this PR help you in your case?

https://github.com/cmu-phil/causal-learn/pull/42

@AndrewC19

[2022-06-28 07:09] tofuwen commented on #38
And btw, Andrew, it seems that you have another question regarding data types --- it would be great if you can open another issue for each different question. :) It will make tracking issues easier and make sure we address all the issues easier. :)

[2022-06-28 08:46] AndrewC19 commented on #41
Hi again,

Thanks for the in-depth response. In response to your comments:

1. Thanks, that makes sense to me. I have one follow-up question that you might be able to help with:

In order to handle mixed data, I have implemented the Multinomial Logistic Regression Test from the paper "Evaluation of Causal Structure Learning Methods on Mixed Data Types (Raghu, Poon, and Benos, 2018)". Following thi

[2022-06-28 08:51] AndrewC19 commented on #38
Thanks and my apologies, it was intended as a response to @kunwuz's question (is it possible to differentiate continuous/categorical variables based on column/variable indices?).

[2022-06-28 16:05] AndrewC19 commented on #41
Hi again,

Thanks so much for your help, that's much clearer now. I really appreciate you taking time to respond to my questions in such detail.

I was wondering whether it would be possible to arrange a virtual meeting? I am planning to conduct an experiment as part of my thesis that evaluates how well different causal discovery algorithms apply to different types of computational model data. I a

[2022-06-28 17:12] jdramsey opened #43 "Please clarify how mixed data are to be represented in causal-learn."
This is a request for information. For the mixed data project, could you clarify how mixed data are to be represented in causal-learn? That is, how is one to know, programmatically, which columns are for discrete data and which for continuous data? This cannot be gleaned from an np array itself, since binary data, for instance, can be treated as either continuous (with values 0 and 1) or discrete,

[2022-06-29 05:53] tofuwen commented on #41
Hi Andrew,

I'd like to help, but I am also relatively new to causal discovery (I just started my PhD last August, and my first year project is not very causal-related), so I am not sure whether I have the ability to help you.

The good news is: my team has lots of causal experts --- how about you sending me the questions via email (yewenf AT andrew.cmu.edu), and let me see whether I know the answ

[2022-06-29 06:07] chenweiDelight commented on #41
Hi Andrew,

Thank you for pointing out this issue!
It seems that there are some bugs in remove_node(). For example, when removing the node, it does not update the 'dpath'.
If you would like to reconstruct the graph, I think it needs to fix these bugs first. If you have any ideas or updates about fixing the bugs in  remove_node(), it would be great if you send RP.

Another solution is, that you can

[2022-06-29 14:12] kunwuz commented on #43
Thanks Joe for raising this and thanks Wei for the answer! In the near future, we would like to also include pandas.dataframe as the input, which naturally supports different data types. Also, we would like to make the graph representation consistent with networkx, which is more consistent with other python packages for downstream tasks.

[2022-06-29 14:25] chenweiDelight commented on #41
Hi Andrew,

I am sorry that I'm confused about your task. For the causal faithfulness assumption, please refer to the paper that @tofuwen  mentioned. You can send the detail of your task and your questions to @tofuwen and me (chenweiDelight AT gmail.com)via email. We can discuss more in the emails.

[2022-06-30 14:57] STLDR opened #45 "Add reference paper for implementation of granger lasso method"
Hello everyone!

I want to use your library as part of an ongoing project, because I saw that you implemented a granger causality test for multi-dimensional time series called `granger_lasso`  ([docs](https://causal-learn.readthedocs.io/en/latest/search_methods_index/Granger%20causality/LinearGranger.html)).

I am curious based on which academic literature you implemented this method. There exist

[2022-06-30 16:28] kunwuz commented on #38
I'm temporally closing this since the focus of the discussion has drifted, and there are new specific issues for the points raised. Please feel free to reopen it if you have any related questions.

[2022-06-30 16:28] #38 closed

[2022-07-01 14:21] kunwuz commented on #45
Hi, thanks so much for your great suggestion. The [reference](https://academic.oup.com/bioinformatics/article/26/18/i517/205683?login=false) has been added to the [page](https://causal-learn.readthedocs.io/en/latest/search_methods_index/Granger%20causality/LinearGranger.html).

[2022-07-01 14:21] #45 closed

[2022-07-02 17:40] jdramsey commented on #43
Hi @kunwuz @chenweiDelight Bryan is a little short on time these days but my Python is getting better, maybe I can help get the DG score into causallearn. But maybe after the pandas.dataframe refactoring it done, for minimal duplication of effort?

[2022-07-02 17:47] jdramsey opened #47 "pip install?"
Dumb question: Does pip install causal-learn grab the latest version from the repository, or do I need to grab the repository version and install that myself locally?

Thanks!

[2022-07-02 17:49] kunwuz commented on #43
Thanks so much, Joe! We will first work on the pandas.dataframe refactoring to represent mixed data better. We are very grateful for your willingness to help. In case you have multiple commitments and too many working loads, perhaps we could first try to have a prelim version of 'causal-learn-adapted' DG according to some existing implementations of yours/Byran's with your guidance and review?

[2022-07-02 17:55] #47 closed

[2022-07-02 17:59] kunwuz commented on #47
Thanks for raising this brilliant question. This is very important as it could help to make sure that our users are using the up-to-date version.

For `pip install causal-learn`, it will install the package we released to PyPI ([https://pypi.org/project/causal-learn/](https://pypi.org/project/causal-learn/)). However, we only do it when there have been significant updates to our package. So if use

[2022-07-02 18:15] jdramsey commented on #47
Thanks for the clarification!

[2022-07-02 18:18] jdramsey commented on #43
Sure! I'll get the code and send it along.

[2022-07-03 17:59] jdramsey opened #48 "Need reference for PCMAX (default setting for PC in CL apparently)"
After some sleuthing in the Python code and some performance testing with the help of Pablo Puig and Bryan Andrews, I've come to the conclusion that the _default_ setting for PC in CL is maxP. That is an algorithm of mine called PCMAX. The only reference for for this algorithm currently in the literature that I know of is an arXiv tech report I put out in 2016, this one:

Ramsey, J. (2016). Improv

[2022-07-03 18:59] jdramsey commented on #48
Sorry, I should say, if you can find a published reference for it, use that. Or at least describe the procedure in the documentation. I think.

[2022-07-04 12:01] kunwuz commented on #48
Sure, thanks so much for your suggestions. I've added your paper as the reference for maxP and definiteMaxP (uc_rule). Please let me know if anything is wrong.

BTW, I'm not totally sure that our default setting is PCMAX, since the default value for 'uc_rule' is 0, as follows:

`def pc(
    data: ndarray,
    alpha=0.05,
    indep_test=fisherz,
    stable: bool = True,
    uc_rule: int = 0,
    uc

[2022-07-04 13:00] STLDR commented on #45
Thank you for your quick reply.
I looked through the referenced paper and compared it to the code in the causal-learn repo. I have the impression that the description and the code do not really match. Also the code of the original R package and the causal-learn implementation seem to be quite different. Can you comment on that?

[2022-07-04 13:35] jdramsey commented on #48
Sorry, this is for a problem with 20 nodes, 40 edges, 1000 samples, averaged over 10 runs.

    p = 20
    a = 4
    d = a / (p - 1)
    n = 1000
    runnum = 10

[2022-07-04 13:48] jdramsey commented on #48
Sorry, linear, Gaussian, using Fisher Z for PC_CL and PCMAX_CC--but perhaps the tests are behaving differently in the two platforms--I'll look into it...

[2022-07-04 14:20] jdramsey commented on #48
Anyway, I am very curious about this. If you are getting PCMAX performance from the PC sepsets step alone (without maxp) that is something I don't know how to do. Wayne Lam did a study of this for his MA thesis in Python and didn't see how to do it either, with several variants of the procedure. So I need to figure out exactly what the CL code is doing. I'll forward future comments offline and clo

[2022-07-04 14:42] jdramsey commented on #48
Yeah I get the same performance whether I set ucrule to 0 or 1. Setting it to 2 gives a better result, close to GRASP_CC but with lower recalls.

`	Alg   AP      AR     AHP   AHPCE     AHR   AHRCE   McAdj   McArr   F1Adj   F1Arr     SHD    E
	1	1.00	0.71	0.95	0.95	0.52	0.73	0.81	0.68	0.83	0.67	12.40
`

[2022-07-04 15:08] jdramsey opened #50 "Inconsistent return types"
One general problem we're having in comparing algorithms to one another is that algorithms that basically should return a GeneralGraph return it in different ways. So for instance, the way to get a graph from PC is different from the way one gets it from FCI or from GES. Is it possible to make this uniform with the same syntax?

Basically one should be able to write something like this (I think):

[2022-07-04 15:10] kunwuz commented on #50
Yeah, I totally agree with you. This issue has been listed in our issue tracking doc and we are currently working on it. Let me share the doc with you offline : )

[2022-07-05 02:49] aoqiz commented on #45
Hi, Stephan. Thanks for your question.
We didn't follow their code exactly. Our implementation is a standard autoregressive model with lasso penalties. [This paper](https://www.andrewoarnold.com/frp781-arnold.pdf) might also give you some ideas on the implementation. Equation (3) in this paper is the objective of our implemented algorithm. The optimisation procedure might be different from the pap

[2022-07-05 09:51] tofuwen commented on #50
Yes, I totally agree.

The problem is: our codebase in not designed in a OOP manner. The algorithms should extend the same base class, and the base class should have a unifying API, i.e. .run(), which return a GeneralGraph.

The same thing also happens to Independence Test --- previously these are just functions and not organized well.

I plan to initiate some refactors in the near future.

Curren

[2022-07-05 11:24] jdramsey commented on #50
Also, I agree that it makes a lot more sense to do refactoring when there are good tests. Even a few well-placed tests can save a lot of headache, but more tests are better.

[2022-07-05 14:33] tofuwen commented on #50
Totally agree!! :) More tests, the better! (Learned this lesson in a hard way lol)

[2022-07-05 15:50] tofuwen commented on #31
Hi @jdramsey and @bja43, after discussed with Kun, we think this is really needed and a great feature we should support. I am wondering whether @bja43 can contribute your code to our causal-learn library to support mixed data? :)

[2022-07-05 15:53] jdramsey commented on #31
Hi, I sent Bryan's code to Yujia and Wei, but I neglected to cc you--maybe you can get it from them? They were going to adapt it to causal-learn. It's working code. Bryan is a bit overworked at the moment, as am I, unfortunately. :( It's the code for degenerate Gaussian.

[2022-07-05 15:58] jdramsey commented on #31
Maybe you can send me an email :)

[2022-07-08 21:27] delacylab opened #54 "Deleting edges takes a very long time, I came up with a solution."
I was running this program (newest version from a few days ago) on a dataset of roughly 6000 x 800 matrix and found in-between depth levels the program was taking a long time to get to the next depth level. I extrapolated and found this was going to take 331 days for just one depth level. I studied the code and eventually traced the bottleneck to GeneralGraph.remove_edge(edge1), which rebuilds the

[2022-07-09 02:26] delacylab commented on #29
I get this error too, I stuck in some debug lines in the fisherz function and here are the variable values right before the crash:
var
[80, 8, 81, 82]

sub_corr_matrix
[[ 1.          0.05900512 -0.53968299 -0.77947494]
 [ 0.05900512  1.         -0.04393224 -0.0369982 ]
 [-0.53968299 -0.04393224  1.         -0.10670507]
 [-0.77947494 -0.0369982  -0.10670507  1.        ]]

sub_corr_matrix determinan

[2022-07-09 04:02] tofuwen commented on #54
Hi @delacylab,

Thanks so much for taking the time to debug and implement. I am also aware of this issue, but our current codebase lacks tests, and I am afraid that directly change remove_node() function will break our algorithms, and I decide to change it after we implement all the tests (in progress).

But your solution is definitely more elegant and only change the algorithm behavior of PC. I r

[2022-07-09 04:35] jdramsey commented on #29
Sorry to intrude, but is it possible the matrix is not singular so when you invert it you don't get a proper inverse? Have you tried multiplying the inverse by the matrix to see if you get I?

[2022-07-11 13:05] cogito233 opened #56 "The performance gap bewteen `KCI_UInd` and `KCI_CInd` under a similar setting"
**The issue is based on the code in Pull request #55**

Here is just a weird problem with the performance gap between `KCI_UInd` and `KCI_CInd`. Intuitively, the test of $X\bot Y$ and $X\bot Y|Z=1$ (Z is a constant) should have a similar performance, or the latter test(use `KCI_CInd`) should have a worse performance due to it handling a more universal case. However, when I ran the code, the result

[2022-07-11 13:10] tofuwen commented on #56
Thanks for reporting!

This is very helpful!

cc @MarkDana @aoqiz to take a look. Currently we are also aware that KCI may have problem (because we are adding tests to KCI)

You can refer to this PR and check the discussions.

https://github.com/cmu-phil/causal-learn/pull/51

[2022-07-11 13:54] MarkDana commented on #56
@cogito233 Thanks for reporting this!

The results of `X;Z` is reasonable, on both `UInd` and `CInd with cond=const`.

However, the results of `X;Y` on `UInd` is weird (though reasonable on`CInd with cond=const`): `X` and `Y` should be dependent.

This seems to be an issue about `UInd` over multivariate unconditional variables. If we change the `dim` and run `UInd`:

[code]

We'll notice reasonabl

[2022-07-11 18:58] delacylab commented on #54
Hi @tofuwen

I wanted to check with you about renaming remove_edge() to remove_edge_reconstitute_dpath() and remove_edge_only() to remove_edge(). I agree it is more informative but would require changing all existing calls to GeneralGraph's remove_edge() to now call remove_edge_reconstitute_dpath() since the reconstitute_dpath behavior would be expected. I looked for GeneralGraph's remove_edge cal

[2022-07-11 20:20] delacylab commented on #29
I multiplied the matrix and inverse matrix together like you suggested and did not get I or anything close. I checked the determinant of the matrix and it is basically 0. I researched this problem and numpy many times does not catch "basically 0" due to floating point math oddities so something is never 0 but will instead be e.g. 2.8e-14. They added an isclose function but I don't know enough abou

[2022-07-12 02:19] tofuwen commented on #54
Hi @delacylab,

Thanks so much for your help!

Yeah, if possible, you can change all of these files. We will have review to make sure your changes won't break anything (hopefully). :)

Thanks so much for your help. We really appreciate your time to make causal-learn better! :)

[2022-07-12 03:28] tofuwen commented on #56
Hi @cogito233,

I checked with expert. Our KCI code is translated from Kun [who is the first author of KCI]'s original matlab code (http://people.tuebingen.mpg.de/kzhang/KCI-test.zip), do you mind running your example on the matlab version of KCI to check whether the matlab version works or not?

[2022-07-12 07:04] tofuwen commented on #29
Hi @delacylab,

Thanks for researching, and finding the root cause.

Do you mind adding an assertion in our codebase to ensure the matrix is not singular before calling inverse?

In this way, we can throw a better error message to users so they know it's data issue, instead of the current confusing error message.

Of course, if you don't have time, please let us know! And we will find someone to i

[2022-07-13 17:07] delacylab commented on #54
Hi @tofuwen,

Unfortunately it looks like there is a problem with my idea because I am failing unit tests. My initial testing showed that it didn't make any difference in the output if I implemented my fix as shown in my original post. But I fail some of the unit tests so my assumption that dpath could be cleared and reconstituted after a series of edge deletes would give the same result as adjust

[2022-07-13 17:59] jdramsey commented on #54
Sorry to intrude, but I'm very curious how that got implemented at a high level. For PC or GES, it seems you don't need a DPATH matrix, since you're not assume the graph is a DAG. Is there some way to make the d-path reasoning kick in only for DAGs (not CPDAGs or PAGs)? If you point me to where to look I can try to help...

[2022-07-13 18:21] tofuwen commented on #54
Hi @delacylab,

Thanks so much for your help! :) No worry, we will take a look.

Hi @chenweiDelight, do you mind taking a look at @jdramsey's question?

[2022-07-21 06:40] tofuwen commented on #56
Hey @aoqiz, could you take a look at this issue, since you fixed a KCI bug?

I guess it's related?

[2022-07-22 01:54] kunwuz commented on #29
Hi, we have updated our code (https://github.com/cmu-phil/causal-learn/pull/58). We believe it's related to the original data, which might not satisfy the assumption of the singularity of its covariance matrix, so we throw an exception in that case. Please let us know if you think there are other reasons. Many thanks!

[2022-07-25 07:59] tofuwen commented on #54
@chenweiDelight @zhi-yi-huang

It seems  https://github.com/cmu-phil/causal-learn/issues/54 is related. Do you mind taking a look and provide some context so we can fix? Currently remove_edge seems O(n^2), which is too slow, and it will influence all algorithm that use remove_edge() API. So this is a really high priority fix.

[2022-07-26 08:31] chenweiDelight commented on #54
Sorry to reply so late.
We use the DPATH matrix to check whether there forms a cyclic graph when using the meek rule. For example, if there is a cdpag '*-> x <-y ' and 'x - z ->y', and we use the 'the formation of v-structures‘ rule to determine the direction between x and z, then it is oriented as 'x->z', which will form a cyclic 'x->z->y->x'.  @jdramsey, this example is from the WINE dataset. I

[2022-07-26 14:30] aoqiz commented on #56
Hi @tofuwen @MarkDana @cogito233 , sorry for the late reply. It seems this issue is not related to the typos we fixed.

As @MarkDana said,

However, the results of `X;Y` on both `UInd` and `CInd with cond=const` is weird: `X` and `Y` should be dependent.

I also agree this seems to be an issue about `UInd` and  `CInd with cond=const` over multivariate unconditional variables. If we change the dim

[2022-08-11 05:47] lockmatrix opened #66 "multi-threading support"
I found algorithm takes a long time to run, maybe should add multi-threading support

[2022-08-11 15:41] kunwuz commented on #66
Yes, you are totally right. At the same time, regarding some tests, the theoretical guarantees might not hold when being performed in a parallel manner. Please feel free to let us know if you have any proposals on adding multi-threading support, which will certainly be greatly appreciated :)

[2022-08-11 15:54] lockmatrix opened #67 "memory consumption"
On my dataset (~3.6w, ~40 feats), I found it may use over 40GB memory, ( and I have not get it end successfully)
Maybe it needs to use some db to reduce max memory usage?

[2022-08-11 15:56] kunwuz commented on #67
Could you please let me know which algorithm (if possible, also the hyper-parameters) you are using?

[2022-08-11 16:00] lockmatrix commented on #67
I first use `causallearn.search.ConstraintBased.PC` and `Default: ‘fisherz’.` , memory keeps growing.

Now I am running `chisq`, and find memory consumption fluctuates wildly, about 5-55GB

[2022-08-11 16:04] kunwuz commented on #67
Thanks for the information. Also, could you please let us know the types of your features? And if some of them are discrete, could you please let me know the cardinalities of them? I'm asking these because chisq is designed for discrete data and cardinalities matter a lot when it comes to RAM.

Besides, CC @MarkDana here, who is the expert on RAM-related questions of these two tests you mentioned

[2022-08-11 16:07] lockmatrix commented on #67
feats are mixed, some are discrete, some are real-value

[2022-08-11 16:32] MarkDana commented on #67
Hi there. Thanks for identifying this! I will take a look in days :)

[2022-08-11 16:42] MarkDana commented on #67
May I ask which causal-learn version are you using?

Seems that nan is contained in the data?

[2022-08-12 01:28] lockmatrix commented on #67
causal-learn 0.1.2.8

I tried replace nan with 0 with fisherz, fisherz still has memory issue

[2022-08-12 02:12] MarkDana commented on #67
Hi there! The data 1) contains nan values and 2) two features are constants. If we directly remove these invalid data points:

[code]

Then pc will end in `14.9s` with a maximum memory of `275MiB`. This is reasonable.

For nan values in data, the newest version of causal-learn should throw an error at the beginning I guess? Of course, directly deleting nan rows or replacing nan elements is not the

[2022-08-12 02:33] lockmatrix commented on #66
I found on Macbook M2, fisherz can reach 550-600% CPU, is it a single thread algorithm?

[2022-08-12 02:44] lockmatrix commented on #67
Thanks, simple remove rows will remove too much, I will try remove cols

[2022-08-12 02:57] MarkDana commented on #67
@lockmatrix @kunwuz I think this issue is ready to be closed. Thanks ;)

[2022-08-12 03:08] lockmatrix commented on #67
It works, it seems the nan is the problem.
Maybe should add a warning for it in algo can not handle it ?

[2022-08-12 03:13] #67 closed

[2022-08-14 10:33] lockmatrix commented on #66
I find https://github.com/cmu-phil/tetrad which support multi-threading

[2022-08-14 10:33] #66 closed

[2022-08-24 17:54] Peng0618 opened #69 "Usage of KCI test"
I am interested in the KCI independence test function (causallearn.utils.cit.kci) and testing it now.

In the test, the input "data" is set with a simple numpy data table and column indices  X Y are set as 1,2. However, after running the function, there is a TypeError ""str" object is not callable", as shown below. Does anyone know what is the cause of this problem , or show me with a correct exam

[2022-08-24 18:03] kunwuz commented on #69
Thanks for reaching out. We just made a major refactor on our independence test functions and we haven't updated the corresponding parts of the document. For quick examples, you could try to refer [TestCIT.py](https://github.com/cmu-phil/causal-learn/blob/main/tests/TestCIT.py) and [TestCIT_KCI.py](https://github.com/cmu-phil/causal-learn/blob/main/tests/TestCIT_KCI.py). We will update the documen

[2022-08-24 18:23] Peng0618 commented on #69
Thanks for you reply. Now it works!

<img width="462" alt="image" src="https://user-images.githubusercontent.com/31668299/186494388-d0e2f3e0-c626-49c1-ba3d-9a1aab218579.png">

[2022-08-24 19:01] kunwuz commented on #69
Cool! Thanks :)

[2022-08-24 19:01] #69 closed

[2022-08-26 08:22] chengjun opened #70 "ImportError: cannot import name 'GIN' from 'causallearn.search.FCMBased'"
[code]

---------------------------------------------------------------------------
ImportError                               Traceback (most recent call last)
/var/folders/8b/hhnbt0nd4zsg2qhxc28q23w80000gn/T/ipykernel_52081/3662974966.py in <module>
----> 1 from causallearn.search.FCMBased import GIN
      2 G, K = GIN(data)

ImportError: cannot import name 'GIN' from 'causallearn.search.FCMBased

[2022-08-27 00:00] chenweiDelight commented on #70
Hi chengjun,

Thank you for your comment! Could you tell me which version you used?
We have moved the GIN to 'HiddenCausal'. So you can try to import GIN by 'from causallearn.search.HiddenCausal.GIN.GIN import GIN'.

Please let me know if there is any problem.

[2022-08-27 03:13] kunwuz commented on #70
Hi, thanks for the question. We have just updated our document to make it consistent.

[2022-09-05 15:52] kunwuz commented on #70
Hi, please feel free to let us know and reopen this issue if there is any further issue.

[2022-09-05 15:52] #70 closed

[2022-09-09 22:22] Peng0618 opened #73 "FCI algorithm with KCI testing method"
Hello,

I am testing the fci algrithm and its defaul independence testing method is 'fisherz'. I tried to use the 'kci' testing method. But it shows:

TypeError: '(slice(None, None, None), [0])' is an invalid key.

So, is there any example about the fci algorithm with kci method? Thank you.

[2022-09-09 22:35] MarkDana commented on #73
Thanks for reaching out. Could you please tell us your causal-learn version and the minimum code snippet that reproduces your issue?

Since `G, edges = fci(data, 'kci', 0.05, verbose=False)` should work.

[2022-09-10 05:31] Peng0618 commented on #73
Hi, the causal-learn version is 0.1.2.8. Thanks for your sample. I have solved it.

BTW, the kci testing is much slower than fisherz... But it is still a good choice.

[2022-09-17 06:16] lmz123321 opened #75 "CD-NOD outputs directed cycles."
Hi, Thanks for your great work.

When I am using CD-NOD in my private data, I realize the output PDAG contains a directed cycle.

I use KCI test, other settings (e.g. orientation rules) are set exactly as default values in the illustration example.

Any idea why this phonomene shows? How should I solve this bug?

[2022-09-17 14:37] kunwuz commented on #75
Hi, thanks for the great question. From my perspective, it might not be a bug--sometimes the cycle happens when the data does not meet the faithfulness assumption. The same phenomenon occurs in PC and FCI, too. Could you please try it on simulated data, i.e., the one you are sure faithfulness does not violate, to see if there are any cycles?

[2022-09-18 02:25] lmz123321 commented on #75
Thanks for your answer. The simulation data is just fine. I guess it may be the assumption violation problem.

[2022-09-18 02:25] #75 closed

[2022-09-19 09:02] lmz123321 opened #76 "Add required edges by background knowledge"
Hi, Thanks for your great work.

I hope to add an edge that is not detected during the PC skeleton phase according to background knowledge.
I read the codes in [causal-learn](https://github.com/cmu-phil/causal-learn)/[causallearn](https://github.com/cmu-phil/causal-learn/tree/main/causallearn)/[utils](https://github.com/cmu-phil/causal-learn/tree/main/causallearn/utils)/[PCUtils](https://github.co

[2022-09-25 00:56] Ricardokevins opened #77 "Import Error during using"
I am a novice in this field, seek for help...

Operation:
pip install causal-learn(sucessfully)
touch a new file test.py(sucessfully)
copy testPC.py to test.py(sucessfully)
python3 test.py (encounter Error ：
[code]

Any Suggestion will be greatly appreciate!!!!

[2022-09-25 01:37] MarkDana commented on #77
Hi @Ricardokevins. Which version of causal-learn are you using? This might be due to an outdated version. We'll release a latest one soon and please update to it. Thanks for identifying this :)

[2022-09-25 01:38] kunwuz commented on #77
Hi, thanks for reaching out. We have just released a version on pypi. Could you please try 'pip install causal-learn==0.1.2.9' and run your scripts again?

[2022-09-25 01:42] Ricardokevins commented on #77
Thank you for your immediate reply, I just tried and get new Error as follow

[code]

[2022-09-25 01:42] Ricardokevins commented on #77
I follow the below instruction and get a new error information

[2022-09-25 01:49] Ricardokevins commented on #77
Thank you very much for your quick reply.
Problem fixed with your help

[2022-09-25 01:49] #77 closed

[2022-09-25 01:49] MarkDana commented on #73
Yep. kci is basically in O(n^3) time complexity, with n being the sample size.

The good thing is that kci is nonparametric, while fisherz only works for joint Gaussian.

[2022-09-25 02:04] kunwuz commented on #76
Hi, unfortunately, we don't have the functionality you described for now. We're not sure about the custom changes now, but we will try and see whether it's plausible.

[2022-09-26 05:40] Ricardokevins opened #79 "How to Visualize Casual Graph?"
Awesome work!
I just try to use TestDirectLiNGAM to get the casual graph on public dataset. And the result is interesting! Thank you for your work~     I am interested in visualizing the casual graph I got ( TestDirectLiNGAM method produce a adjacency_matrix_). Is there any operation to get a png which visualize the graph?
Aftering reading docs, i notice there is some Graph operations but no visua

[2022-09-26 06:20] kunwuz commented on #79
Hi, perhaps you could try to refer to this [example](https://github.com/cmu-phil/causal-learn/blob/b49980d046607baaaa66ff8dc0ceb98452ab8616/tests/TestGraphVisualization.py#L43) to visualize it according to your matrix.

[2022-09-26 07:01] #79 closed

[2022-10-08 02:26] lmz123321 opened #80 "Does DAG2PAG supports selection variable?"
Hi, I hope to use the dag2pag function in the causal-learn lab, i.e., ```causallearn.utils.DAG2PAG```.

However, I notice in the [documentation](https://causal-learn.readthedocs.io/en/latest/utilities_index/Graph%20operations/DAG2PAG.html), this function only support add latent variables.

Is there a way to add selection variables (maybe a custom change to the function) ?

Many thanks!

[2022-10-08 02:32] chenweiDelight commented on #80
Hi, unfortunately, DAG2PAG doesn't support selection variables for now. We're not sure about the custom changes now, but we will try and see whether it's plausible. Thanks!

[2022-10-12 06:39] lmz123321 opened #81 "CD-NOD with independent change principle."
Hi, thanks for your great work.

I hope to use CD-NOD phase 3, i.e., identifying directions with independent change principle.

However, I notice it is still not implemented (a TODO comment).

When do you plan to release these codes?

Many thanks.

[2022-10-12 12:26] theabrusch opened #82 "PC learns different graphs dependent on the ordering"
Hi,

Thank you for your great work on this package!
I am testing the behaviour of the PC algorithm on simple simulated data. I found that the number of directed edges detected differs based on the ordering of the variables given to the algorithm.

I am running the following code:

[code]

When the ordering of variables C and D is permuted, the PC algorithm returns the Graph with an undirected edge

[2022-10-12 15:55] leizan commented on #81
Hi, I find that the author has also made a complete matlab version:
https://github.com/Biwei-Huang/Causal-Discovery-from-Nonstationary-Heterogeneous-Data
Hope that could help you.

[2022-10-13 07:55] lmz123321 commented on #81
Thanks a lot. I check the matlab code and it works fune.

[2022-10-13 07:55] #81 closed

[2022-10-25 10:34] amir-rahnama opened #83 "On the development of PNL"
When will the implementation of the PNL method be completed? I saw that development has stopped since Feb 18, 2022. What are the remaining parts of the algorithm that needs to be implemented precisely? Maybe I can help

[2022-10-25 23:46] kunwuz commented on #83
Thanks for reaching out. We've been improving PNL and adding more tests during the past months. A new version has just been updated and please feel free to give it a try. Any questions are very welcome.

[2022-10-30 05:46] chenweiDelight commented on #82
Thanks for reporting!

We had fixed this bug. Please try to use the latest version. If there is any problem, please let us know. Thanks again!

[2022-10-30 06:08] tofuwen commented on #82
@chenweiDelight Which PR fixed this bug? Could you link it here?

cc @MarkDana

[2022-10-30 06:17] chenweiDelight commented on #82
Sure. The link is [https://github.com/cmu-phil/causal-learn/pull/68/commits/3cfd99ed132ef671654df7ed2b1806aca469da6e]( https://github.com/cmu-phil/causal-learn/pull/68/commits/3cfd99ed132ef671654df7ed2b1806aca469da6e).

[2022-10-30 06:25] tofuwen commented on #82
@chenweiDelight  hmm, this commit is not pushed yet, right? So the latest version doesn't have this bug fixed?

@MarkDana Any idea why our PC tests didn't capture this bug?

[2022-10-30 06:27] chenweiDelight commented on #82
Yes. I mistakenly thought it had already been pushed.

[2022-11-01 08:49] huiouyang16 opened #84 "implementation of fGES (fast greedy equivalence search)"
Does this repo have plans to implement the algorithm fGES[1]? fGES seems to work well for large scale problems. I wanna do some work on a large scale problem. If there is a related plan, it will help to use fGES more conveniently on the python platform, instead of calling Tetrad implemented in Java.

[1] Ramsey J, Glymour M, Sanchez-Romero R, et al. A million variables and more: the fast greedy eq

[2022-11-01 12:45] kunwuz commented on #84
Thanks for reaching out. Yes, we do have the plan to implement fGES on python, but it's still in its early stage. Please let me know if you (or/and anyone) would like to contribute. We are more than grateful for any help that benefits the community :)

[2022-11-01 13:25] huiouyang16 commented on #84
Yeah, of course I would like to do some related work. But I'm not sure if it can be done well since my current knowledge of fGES is limited. I'm willing to give it a shot, but may need some help along the way.

[2022-11-16 05:10] UzmaHasan opened #86 "Facing problem in SHD estimation"
Hi. I am getting the following **KeyError** whenever I try to estimate the **SHD** using the true graph and estimated graph.

`Traceback (most recent call last):
  File "test_GES_metrics.py", line 25, in <module>
    shd = SHD(truth_cpdag, est)
  File "F:\REPOSITORIES\causal-learn\causallearn\graph\SHD.py", line 33, in __init__
    if (not truth.get_edge(truth.get_node(nodes_name[i]), truth.get_no

[2022-11-16 07:38] UzmaHasan commented on #86
Hi again. I just solved the issue. I was using the original variable names initially in the txt file for the ground truth graph. But, later when I renamed the variables as X1;X2;....... and so on, then the above mentioned error got resolved and the code works fine now!

Appreciate the way this repository is organized and well-documented!

[2022-11-16 07:39] #86 closed

[2022-11-16 07:39] UzmaHasan commented on #86
Hi again. I just solved the issue. I was using the original variable names initially in the txt file for the ground truth graph. But, later when I renamed the variables as X1;X2;....... and so on, then the above mentioned error got resolved and the code works fine now!

Appreciate the way this repository is organized and well-documented!

[2022-11-21 13:22] theabrusch commented on #82
Hi again,
Sorry for the long reaction time. I just pulled the latest version (1.3.0) and I am still experiencing the same issue.
Do you experience the same problem when running my code or is it working?